.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.mr-0:hover {
  color: #0e9790;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    /* margin-right: 30px; */
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #282828b8;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 100%;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

  .nav-elements ul li a {
    font-size: 30px;
  }
}

.burger {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.strip div {
  height: 3px;
  border-radius: 2px;
  background: white;
  margin: 10px;
  transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 40px;
}
.burger:hover .strip div {
  color: aqua;
}

.burger-strip-5 div {
  transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.burger-active .burger-strip-5 div:first-child {
  transform: translateY(13px) rotate(0deg);
}
.burger-active .burger-strip-5 div:nth-child(2) {
  opacity: 0;
}
.burger-active .burger-strip-5 div:last-child {
  transform: translateY(-13px) rotate(90deg);
}
.burger-active .burger-strip-5 {
  transform: scale(0.7) rotate(45deg);
  transition: all 0.25s ease 0.05s;
}
