.boujee-text {
  --bg-size: 400%;
  --color-one: hsl(200, 90%, 55%);
  --color-two: hsl(141, 95%, 55%);
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 10s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.link-text {
  color: white;
}
.link-text:hover {
  color: lightskyblue;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 1%;
}

.flex-item-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 4;
  margin-left: 10%;
}